/* Colors */
$black: #000000;
$white: #ffffff;
$orange: #ff9933;
$darkBlue: #333366;
$successGreen: #4bb543;
$failureRed: #fc100d;
/* Screen Sizes */
$sc-sm: 768px;
$sc-md: 992px;
$sc-lg: 1024px;
/* Fonts */
/* Nav */
$nav-els: 1, 2, 3, 4;
/* Main */

/* Modal */
$modal-button-radius: 7px;
/* Footer */

/* Images Path */
$images-path: "../images/statics";
$icon-path: "../images/icons";

/* Durations */
$animation-duration: 0.8s;
