@import "variables";
* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    body {
        position: relative;
        height: 100%;
        background-color: lighten($darkBlue, 10%);
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}
@import "header";
@import "main";
@import "footer";
@import "animations/index-animation";
@import "forms/index";
